:root {
  --blue: #167dc5;
  --lightblue: #49C9F3;
  --green: #65BF4A;
  --gray: #7f8c8d;
}

body {
  background-color: #E0FBFC !important;
}

.blue-text {
  color: var(--blue) !important;
}

.lightblue-text {
  color: var(--lightblue) !important;
}

.green-text {
  color: var(--green) !important;
}

.gray-text {
  color: var(--gray) !important;
}

.btn.btn-primary {
  background-color: var(--blue) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-special-green {
  background-color: #E0FBFC !important;
}


.bg-lightblue {
  background-color: var(--lightblue) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.p-2-5 {
  padding: 2.5rem !important;
}

.btn.radius {
  border-radius: 4px !important;
}

.icon-sm {
  font-size: 1.6em;
}

.text-cr {
  font-size: 1.1em;
}

.hide {
  display: none !important;
}

.mt-1-3 {
  margin-top: 1.3rem !important;
}

.btn-open {
  cursor: pointer !important;
  display: none !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.text-danger {
  color: #c0392b !important;
}

/* ------------------------------------------------------------------------------------------------
  LOGIN
---------------------------------------------------------------------------------------------------*/

.img-login {
  width: 170px;
  height: auto;
}

.form-container {
  max-width: 400px;
  width: 95%;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.r-0 {
  right: 0 !important;
}


